<Configuration name="sv">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%p %d{yyyy-MM-dd HH:mm:ss} --- %tn --- %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="INFO" Additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>
</Configuration>